# This is a sample .gitignore file, which can be editied according to your needs

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Compiled
*.com
*.class
*.dll
*.exe
*.o
*.so

# LaTeX
*.log
*.aux
*.synctex.gz
*.bbl
*.blg
*.xml
*blx.bib
*.thm
*.out
*.fdb_latexmk
*.fls
*.nav
*.snm
*.toc
*.vrb

# LyX
*.lyx~

# Emacs
*[#]*[#]
*[#]*
_region_.tex

# RStudio
*.Rhistory
.Rproj.user
*.rda
*.RData